[submodule "dynamixel-workbench"]
	path = dynamixel-workbench
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench
[submodule "DynamixelSDK"]
	path = DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "interbotix_ros_toolboxes"]
	path = interbotix_ros_toolboxes
	url = https://github.com/Interbotix/interbotix_ros_toolboxes.git
